* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  background-color: #57A6FF;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 0;
}

.btn:hover {
  background: #666;
}

.container {
  max-width: 650px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}